# Render HTTP Port (Automatically injected by Render)
PORT=10000

# MongoDB Internal Settings
MONGO_PORT=27017
CACHE_SIZE_GB=0.25

# Telegram Storage Vault Settings
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ
CHANNEL_ID=-100xxxxxxxxxx
SYNC_INTERVAL_MIN=5

# Cloudflare Tunnel Connector Token
TUNNEL_TOKEN=eyJhIjoi...
