# ==============================================================================
# Yuki-Mongo-Render: Configuration Environment
# ==============================================================================

# 1. MongoDB Credentials (Optional but Strongly Recommended for Security)
MONGO_USER=admin
MONGO_PASS=sudeep123

# 2. Cloudflare Zero Trust Tunnel (Leave empty for Free Auto-TCP Tunnel)
TUNNEL_TOKEN=eyJh...
DOMAIN=mongo.yukiapi.site

# 3. Distributed Cloud Storage Vault (Unlimited Storage Replication)
SESSION_STRING=your_vault_session_string
CHANNEL_ID=-100xxxxxxxxxx
API_ID=38674666
API_HASH=b4f0fbf8fb560c4bc9e7b9f3698e474c
SYNC_INTERVAL_MIN=5

# 4. Render Health Port (Injected automatically by Render)
PORT=10000
